.component-display {
  position: relative;
  background-color: #858694;
  color: white;
  text-align: right;
  font-weight: 200;
  flex: 0 0 auto;
  width: 100%;
}

.component-display > div {
  padding: 0.2rem 0.7rem 0.1rem 0.5rem;
}

.component-display__result {
  font-size: 2rem;
}

.component-display__calculation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.6rem;
  color: #555;
}
