.btn-undo {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 100px;
  border: 1px solid #eee;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: 0.5rem;
  transition: all 0.2s;
}

.btn-undo:active {
  background-color: #e3e3e3;
}

.btn-undo:focus {
  outline: none;
}

.btn-undo img {
  width: 70%;
}
